.button-center {
  margin-top: 10px;
}
.admin {
  padding-top: 76px;
  label {
    width: 100%;
    font-size: $nm;
    font-family: "Titillium Web Bold";
    color: $black;
  }
  .editor-bloc {
    width: 60%;

    .form {
      justify-content: space-around;
      width: 100%;
      padding: 0;
    }
    .button {
      width: 45%;
    }
  }
}
