.articleAdmin {
  width: 33%;
  li {
    list-style-type: none;
    padding: 5px 0;
    i {
      margin-left: 10px;
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
}
