@import "variables";
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  font-size: 16px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 90vh;
  height: calc(100vh - 76px);
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-end {
  justify-content: flex-end;
}
.error {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web Bold";
  color: $black;
}
h1 {
  font-size: $xxl;
}
h2 {
  font-size: $xl;
}
h3,
h4,
h5,
h6 {
  font-size: $nm;
}
.black {
  font-family: "Titillium Web Black";
}
.bold {
  font-family: "Titillium Web Bold";
}
.bold-italic {
  font-family: "Titillium Web Bold Italic";
}
extra-light {
  font-family: "Titillium Web Extra Light";
}
extra-light-italic {
  font-family: "Titillium Web Extra Light Italic";
}
.italic {
  font-family: "Titillium Web Italic";
}
.light {
  font-family: "Titillium Web Light";
}
.regular {
  font-family: "Titillium Web Regular";
}
.semi-bold {
  font-family: "Titillium Web Semi Bold";
}
.semi-bold-italic {
  font-family: "Titillium Web Semi Bold Italic";
}
