@import "variables";
* {
  margin: 0;
  padding: 0;
}
.container-center {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 76px);
}
.container {
  max-width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 76px);
}
.flex {
  display: flex;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-direction-column {
  flex-direction: column;
}
.error {
  color: red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web Bold";
}
h1 {
  font-size: $xxl;
}
h2 {
  font-size: $xl;
}
h3,
h4,
h5,
h6 {
  font-size: $nm;
}
.black {
  font-family: "Titillium Web Black";
}
.bold {
  font-family: "Titillium Web Bold";
}
.bold-italic {
  font-family: "Titillium Web Bold Italic";
}
.extra-light {
  font-family: "Titillium Web Extra Light";
}
.extra-light-italic {
  font-family: "Titillium Web Extra Light Italic";
}
.italic {
  font-family: "Titillium Web Italic";
}
.light {
  font-family: "Titillium Web Light";
}
.regular {
  font-family: "Titillium Web Regular";
}
.semi-bold {
  font-family: "Titillium Web Semi Bold";
}
.semi-bold-italic {
  font-family: "Titillium Web Semi Bold Italic";
}
