.preference {
  position: fixed;
  width: 50px;
  height: calc(100vh);
  z-index: 1;
  ul {
    margin-top: 106px;
    list-style-type: none;
    li {
      cursor: pointer;
      text-align: center;
      padding: 10px 0;
      i {
        font-size: $nm;
      }
    }
  }
}
.light-active {
  color: $--color-secondary;
}
.dark-active {
  color: $--color-secondary;
}
.drawer-active {
  margin-left: 50px;
}
