$primary: #247ba0;
$secondary: #70c1b3;
$tertiary: #b2dbbf;

$black: #2e2f35;
$white: #fff;
$red: #ff1654;

$border-grey: rgb(216, 218, 232);
$grey-light: rgb(149, 157, 175);

/* font size */
$xxl: 2em;
$xl: 1.5em;
$nm: 1em;
$xs: 0.75em;
$xxs: 0.5em;

/* media queries */
$sm: 300px;
$md: 500px;
$lg: 700px;
$xlg: 900px;

/* space */
$space-xxs: 0.3rem;
$space-xs: 0.6rem;
$space-s: 1rem;
$space-md: 2rem;
$space-lg: 3rem;
$space-xl: 6rem;

@font-face {
  font-family: "Titillium Web Black";
  src: url("../fonts/TitilliumWeb-Black.ttf");
}
@font-face {
  font-family: "Titillium Web Bold";
  src: url("../fonts/TitilliumWeb-Bold.ttf");
}
@font-face {
  font-family: "Titillium Web Bold Italic";
  src: url("../fonts/TitilliumWeb-BoldItalic.ttf");
}
@font-face {
  font-family: "Titillium Web Extra Light";
  src: url("../fonts/TitilliumWeb-ExtraLight.ttf");
}
@font-face {
  font-family: "Titillium Web Extra Light Italic";
  src: url("../fonts/TitilliumWeb-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "Titillium Web Italic";
  src: url("../fonts/TitilliumWeb-Italic.ttf");
}
@font-face {
  font-family: "Titillium Web Light";
  src: url("../fonts/TitilliumWeb-Light.ttf");
}
@font-face {
  font-family: "Titillium Web Light Italic";
  src: url("../fonts/TitilliumWeb-LightItalic.ttf");
}
@font-face {
  font-family: "Titillium Web Regular";
  src: url("../fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: "Titillium Web Semi Bold";
  src: url("../fonts/TitilliumWeb-SemiBold.ttf");
}
@font-face {
  font-family: "Titillium Web Semi Bold Italic";
  src: url("../fonts/TitilliumWeb-SemiBoldItalic.ttf");
}
